### 1. K 번째수

In [2]:
array = [1, 5, 2, 6, 3, 7, 4]
commands = [[2, 5, 3], [4, 4, 1], [1, 7, 3]]
_return = [5, 6, 3]

In [26]:
# test
_commands = commands[0]
a = _commands[0]
b = _commands[1]
c = _commands[2]
_array = array[a-1:b]
print(_array)
_array.sort()
_array[c-1]

[5, 2, 6, 3]

5

In [28]:
answer = []
for a, b, c in commands :
    _array = array[a-1:b]
    _array.sort()
    answer.append(_array[c-1])

In [29]:
answer

[5, 6, 3]

In [30]:
# solution
def solution(array, commands):
    answer = []
    for a, b, c in commands :
        _array = array[a-1:b]
        _array.sort()
        answer.append(_array[c-1])
    return answer

In [31]:
#test
solution([1, 5, 2, 6, 3, 7, 4], [[2, 5, 3], [4, 4, 1], [1, 7, 3]])

[5, 6, 3]

In [32]:
# 1,026 점
# 테스트 1 〉	통과 (0.00ms, 10.2MB)
# 테스트 2 〉	통과 (0.01ms, 10.1MB)
# 테스트 3 〉	통과 (0.00ms, 10.2MB)
# 테스트 4 〉	통과 (0.00ms, 10.2MB)
# 테스트 5 〉	통과 (0.00ms, 10.3MB)
# 테스트 6 〉	통과 (0.00ms, 10.2MB)
# 테스트 7 〉	통과 (0.01ms, 10.2MB)

### 2. 가장 큰 수

In [57]:
numbers = [6, 10, 2]
# return = 6210
numbers = list(map(str,numbers))
numbers.sort(reverse = True)
numbers
''.join(numbers)

'6210'

In [58]:
def solution(numbers):
    numbers = list(map(str,numbers))
    numbers.sort(reverse = True)
    answer = ''.join(numbers)
    return answer

In [60]:
# test
solution([6, 10, 2])
solution([3, 30, 34, 5, 9]) #실패

'9534303'

In [66]:
numbers = [3, 30, 34, 5, 9]
# return = 6210
numbers = list(map(str,numbers))
numbers.sort(reverse = True)
numbers
# ''.join(numbers)

['9', '5', '34', '30', '3']

In [108]:
numbers = [3, 300, 34, 5, 9]
# return = 6210
numbers = list(map(str,numbers))
max_len = max(list(map(len, numbers)))
print(max_len)
new_numbers = [[i,len(v),(v*4)[:max_len]] for i, v in enumerate(numbers)]
print(new_numbers)
new_numbers.sort(key=lambda x: x[2], reverse = True)
sorted_numbers = []
for a, b, c in new_numbers:
    sorted_numbers.append(c[:b])
    print(sorted_numbers)
''.join(sorted_numbers)

3
[[0, 1, '333'], [1, 3, '300'], [2, 2, '343'], [3, 1, '555'], [4, 1, '999']]
['9']
['9', '5']
['9', '5', '34']
['9', '5', '34', '3']
['9', '5', '34', '3', '300']

'95343300'

In [131]:
def solution(numbers):
    numbers = list(map(str,numbers)) #integer 순서로 sort 되지 않기 위해 string으로 변환
    max_len = max(list(map(len, numbers))) #각 요소의 최대 자릿수
    _numbers = [[len(v),(v*4)[:max_len]] for v in numbers] # 최대 자릿수 기준으로 string 반복
    _numbers.sort(key=lambda x: x[1], reverse = True) # 정렬

    # 정렬 완료된 결과 저장
    sorted_numbers = []
    for a, b in _numbers:
        sorted_numbers.append(b[:a]) #원래 자릿수로 원복

    answer = ''.join(sorted_numbers)
    return answer

In [133]:
# test
print(solution([6, 10, 2]))
print(solution([3, 30, 34, 5, 9]))

6210
9534330

In [134]:
# 테스트 1 〉	통과 (92.20ms, 33.1MB)
# 테스트 2 〉	통과 (44.32ms, 22.5MB)
# 테스트 3 〉	통과 (134.86ms, 40.2MB)
# 테스트 4 〉	통과 (2.19ms, 10.7MB)
# 테스트 5 〉	통과 (79.77ms, 30.4MB)
# 테스트 6 〉	통과 (61.22ms, 27.9MB)
# 테스트 7 〉	통과 (0.03ms, 10.2MB)
# 테스트 8 〉	통과 (0.02ms, 10.3MB)
# 테스트 9 〉	통과 (0.03ms, 10.1MB)
# 테스트 10 〉	통과 (0.02ms, 10.2MB)
# 테스트 11 〉	실패 (0.05ms, 10.2MB)

In [135]:
solution([0, 0, 0, 0, 0])

'00000'

In [138]:
def solution(numbers):
    numbers = list(map(str,numbers)) #integer 순서로 sort 되지 않기 위해 string으로 변환
    max_len = max(list(map(len, numbers))) #각 요소의 최대 자릿수
    _numbers = [[len(v),(v*4)[:max_len]] for v in numbers] # 최대 자릿수 기준으로 string 반복
    _numbers.sort(key=lambda x: x[1], reverse = True) # 정렬

    # 정렬 완료된 결과 저장
    sorted_numbers = []
    for a, b in _numbers:
        sorted_numbers.append(b[:a]) #원래 자릿수로 원복

    answer = ''.join(sorted_numbers)
    if int(answer) == 0 :
        answer = '0' # 이거 integer로 하면 실패함
    return answer

In [139]:
solution([0, 0, 0, 0, 0])

0

In [140]:
# 1039점
# 테스트 1 〉	통과 (287.42ms, 33.2MB)
# 테스트 2 〉	통과 (96.14ms, 22.5MB)
# 테스트 3 〉	통과 (485.73ms, 40.7MB)
# 테스트 4 〉	통과 (2.42ms, 10.8MB)
# 테스트 5 〉	통과 (218.03ms, 30.7MB)
# 테스트 6 〉	통과 (185.82ms, 27.9MB)
# 테스트 7 〉	통과 (0.05ms, 10.4MB)
# 테스트 8 〉	통과 (0.04ms, 10.4MB)
# 테스트 9 〉	통과 (0.04ms, 10.4MB)
# 테스트 10 〉	통과 (0.04ms, 10.3MB)
# 테스트 11 〉	통과 (0.07ms, 10.4MB)

### 3. H-index

In [150]:
citations = [3, 0, 6, 1, 5]
# return = 3

citations = [1, 1 , 12]
# h = 1 -> _h = 3 (=h편 이상)
# h = 2 -> _h = 1 (!= h편 이상)
# h = 3 -> _h = 1 (!= h편 이상)

1

In [180]:
for h in range(max(citations),0, -1) :
    def condition(x):
        return x >= h
    n = sum(condition(x) for x in citations)
    if h <= n :
        answer = h
        break
    else :
        answer = 0

In [200]:
def solution(citations):

    for h in range(max(citations),0, -1) :
        answer = 0
        def condition(x):
            return x >= h
        n = sum(condition(x) for x in citations) #h편 이상 인용된 논문 수
        if h <= n :
            answer = h
            break

    return answer

In [201]:
# test
print(solution([3, 0, 6, 1, 5]))

3

In [190]:
#test
print(solution([3, 0, 6, 1, 5]))
print(solution([1, 1 , 12]))
print(solution([0, 6, 6, 4, 5])) #4
print(solution([5, 5, 5, 5])) #4

3
1
4
4

In [228]:
def solution(citations):

    for h in range(max(citations),0, -1) :
        n = [1 for _ in citations if _ >= h]
        if h <= len(n) :
            answer = h
            break
        else :
            answer = 0
        
    return answer

In [229]:
# test
print(solution([5, 5, 5, 5]))

4

In [191]:
# 테스트 1 〉	통과 (482.44ms, 10.3MB)
# 테스트 2 〉	통과 (684.64ms, 10.2MB)
# 테스트 3 〉	통과 (678.29ms, 10.2MB)
# 테스트 4 〉	통과 (544.79ms, 10.4MB)
# 테스트 5 〉	통과 (676.00ms, 10.3MB)
# 테스트 6 〉	통과 (837.58ms, 10.2MB)
# 테스트 7 〉	통과 (307.23ms, 10.2MB)
# 테스트 8 〉	통과 (63.46ms, 10.2MB)
# 테스트 9 〉	통과 (118.40ms, 10.2MB)
# 테스트 10 〉	통과 (356.63ms, 10.2MB)
# 테스트 11 〉	통과 (901.63ms, 10.2MB)
# 테스트 12 〉	통과 (167.36ms, 10.2MB)
# 테스트 13 〉	통과 (747.86ms, 10.2MB)
# 테스트 14 〉	통과 (767.34ms, 10.2MB)
# 테스트 15 〉	통과 (760.03ms, 10.2MB)
# 테스트 16 〉	실패 (런타임 에러)